<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rubrica</title>

		<meta name="author" content="Alberto Cangialosi" />

		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<!-- header -->
		<%- include("../views/header.ejs") %>

		<!-- MAIN rubrica -->
		<main>
			<h1>Il Nostro Team</h1>
			<ul id="listRubrica">
				<% if (users.length > 0) { %> <% for (let u of users) {%>
				<li>
					<h3><%= u.first_name %> <%= u.last_name %></h3>
					<p><%= u.id %> IMG👤</p>
					<p><%= u %></p>
				</li>
				<% } %> <% } else { %>
				<h2>‽ 404 Contatti</h2>
				<p>OPS: La rubrica sembra vuota...</p>
				<% } %>
			</ul>
		</main>

		<!-- footer -->
		<%- include("../views/footer.ejs") %>
	</body>
</html>
